root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,xml,yml,yaml,properties,md,toml,json,js,jsx,ts,tsx,vue,css,scss,sql,sh,ps1}]
charset = utf-8

[*.{bat,cmd}]
end_of_line = crlf

[*.md]
trim_trailing_whitespace = false
